php_flag output_buffering on

Options -Indexes

DirectorySlash Off

RewriteEngine On
# Only rewrite requests for files that do not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Re-route all top level requests to the /page subdirectory
RewriteRule (^[A-Za-z0-9_-]+$) /page/$1
# Re-route wishlist aliases
RewriteRule ^(sg)/(.*) /page/wishlist-redirect.php?sg=$2
# Re-route auxiliary wishlist UUIDs
RewriteRule ^(uuid)/(.*) /page/uuid-redirect.php?uuid=$2
# Re-route xmas results
RewriteRule ^(xmas)/results /page/xmas-results.php
# Re-route xmas aliases
RewriteRule ^(xmas)/(.*) /page/xmas-redirect.php?xmas=$2
# Append .php for requests for files that exist but are missing .php
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule (.*) $1.php

ErrorDocument 403 /page/403
ErrorDocument 404 /page/404
ErrorDocument 500 /page/500

<IfModule mod_headers.c>
    Header setIfEmpty Cache-Control "max-age=86400"
</IfModule>
