body, button {
  color: #050503;
  background-color: #f7f7f7;
  font-family: 'M PLUS 1', sans-serif;
  font-size: large;
  margin: 0;
}

h1 {
  color: #596133;
  margin: 0 auto;
}

h2, h3 {
  color: #433940;
}

a:not(.link) {
  color: #0d130f;
  background-color: #fff;
  border: 0.1rem solid;
  border-radius: 2em;
  padding: 0.5em;
  text-decoration: none;
  white-space: nowrap;
}

.header {
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 0.1em solid #050503;
  box-shadow: 0 0.05em 0.5em #596133;
  background-color: #fdfcf7;
}

.header ul {
  margin: 0 auto;
}

.header li {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.5em;
}

a:active, button:active {
  color: #534a53;
}

button {
  border: unset;
  cursor: pointer;
}

.right {
  text-align: right;
}

.logo-text {
  font-family: 'Mountains of Christmas', cursive;
}

.header .logo-text {
  font-size: 3em;
}

.lighter {
  color: rgb(169, 48, 57);
  text-shadow: rgba(169, 48, 57, 0.2) 0 0 0.2rem;
}

.logo-text .lighter {
  font-family: 'Festive', cursive;
}

.focused {
  padding-left: 20vw;
  padding-right: 20vw;
}

.highlight {
  background-color: #e26705;
}

form {
  text-align: center;
}

form input, form textarea {
  padding: 0.5em;
  margin: 1em;
  font-family: 'M PLUS 1', sans-serif;
  font-size: large;
}

form input:focus, form textarea:focus {
  box-shadow: 0 0 0.5em #596133;
}

input:invalid {
  box-shadow: 0 0 1.5em rgba(255, 255, 128, 0.5);
}

.submit-button {
  width: 15em;
}

form input[type=radio] {
  margin: 0;
}

form label {
  margin: 1em;
}

.widget form {
  text-align: left;
}

textarea {
  width: 20em;
}

.subheading {
  margin-top: -1em;
  word-break: break-word;
}

@media screen and (max-width: 1200px) {
.restaurant-widget {
  padding: 4vh 10vw;
}
}
@media screen and (min-width: 1201px) {
.restaurant-widget {
  display: inline-block;
  width: 400px;
}
.focused.restaurant-widget {
  padding-left: 2em;
  padding-right: 2em;
}
}

.widget {
  background-color: #f7f7f3;
  border-radius: 2em;
  margin: 2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  vertical-align: top;
}

.review-widget {
  padding: 1vh 5vw;
}

hr {
  width: 80vw;
  border: 1px solid #050503;
}

.center {
  text-align: center;
}

.upload-box {
  display: inline-block;
  width: 400px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.restaurant-image {
  max-width: 200px;
  max-height: 100px;
  margin-right: 2em;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0;
}

.restaurant-name {
  overflow-wrap: anywhere;
}

.grid-item-center {
  align-self: center;
}

.success-box {
  display: inline-block;
  padding: 0.25em 1em;
  background-color: rgba(0, 255, 0, 0.25);
  border: 2px solid rgba(0, 128, 0, 0.5);
  border-radius: 4px;
  text-align: left;
}

.success-box p:before {
  content: "✔";
}

.error-box {
  display: inline-block;
  padding: 0.25em 1em;
  background-color: rgba(255, 0, 0, 0.25);
  border: 2px solid rgba(128, 0, 0, 0.5);
  border-radius: 4px;
  text-align: left;
}

.error-box p:before {
  content: "❌";
}

h3.link {
  margin-bottom: 2em;
}