body, button {
  color: #433940;
  background-color: #fdfdfd;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  margin: 0;
}

h1 {
  margin: 0 auto;
  color: #912899;
  background: -webkit-linear-gradient(#faf, #539, #31a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li h2 {
  margin: 0.5em 0;
}

a:not(.link) {
  color: #433940;
  background-color: #fff;
  border-radius: 2em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 0.06em 0.2em #433940;
}

a:not(.link):hover, button:hover {
  background-color: #faf8f8;
}

h1 .link {
  text-decoration: none;
}

.header {
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
  border-bottom: 0.1em solid #433940;
  box-shadow: 0 0.05em 0.5em #363361;
  background-color: #f7f8ff;
}

nav ul {
  margin: auto;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 0.5em;
}

a:active, button:active {
  color: #7c6f7c;
}

button {
  border: unset;
}

.right {
  text-align: right;
}

.logo-text {
  font-family: 'Festive', cursive;
  text-shadow: rgba(169, 48, 57, 0.2) 0 0.1rem 0.2rem;
}

.header .logo-text {
  font-size: 3em;
}

.focused {
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.highlight {
  background-color: #e26705;
}

form {
  text-align: center;
}

input, textarea {
  padding: 0.5em;
  margin: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0.5em #596133;
}

input:invalid {
  box-shadow: 0 0 1.5em rgba(255, 255, 128, 0.5);
}

.submit-button {
  width: 15em;
  cursor: pointer;
}

input[type=radio] {
  margin: 0;
}

.widget form {
  text-align: left;
}

.comments {
  max-width: 40em;
  width: 80vw;
}

.subheading {
  margin-top: -1em;
  overflow-wrap: anywhere;
}

.restaurant-widget {
  text-align: left;
}

.widget {
  background-color: #fcfcff;
  border-radius: 2em;
  margin: 2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  vertical-align: top;
}

.review-widget {
  padding: 1vh 5vw;
}

hr {
  width: 17rem;
  max-width: 95vw;
  border: 1px solid #433940;
  margin-bottom: 1em;
}

hr.large {
  width: 50rem;
}

.center {
  text-align: center;
}

.upload-box {
  display: inline-block;
  width: 400px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.restaurant-image {
  max-width: 200px;
  max-height: 100px;
  margin-right: 2em;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0;
}

.restaurant-name {
  overflow-wrap: break-word;
}

.grid-item-center {
  align-self: center;
}

.success-box, .error-box, .info-box, .warning-box, .special-box {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: auto 1em;
  border-radius: 4px;
  text-align: left;
}

.success-box p, .error-box p, .info-box p, .warning-box p {
  padding: 0em 1em;
}

.success-box {
  background-color: rgba(0, 255, 0, 0.25);
  border: 2px solid rgba(0, 128, 0, 0.5);
}

.success-box p:before {
  content: "✔";
}

.error-box {
  background-color: rgba(255, 0, 0, 0.25);
  border: 2px solid rgba(128, 0, 0, 0.5);
}

.error-box p:before {
  content: "❌";
}

.info-box {
  background-color: rgba(0, 128, 255, 0.25);
  border: 2px solid rgba(0, 64, 128, 0.5);
}

.info-box p:before {
  content: "ℹ️";
}

.warning-box {
  color: rgb(160, 80, 0);
  background-color: rgba(255, 255, 0, 0.25);
  border: 2px solid rgba(128, 80, 0, 0.5);
}

.warning-box p:before {
  content: "⚠️";
}

.special-box {
  color: rgb(80, 0, 128);
  background-color: rgba(160, 0, 255, 0.25);
  border: 2px solid rgba(80, 0, 128, 0.5);
}

h3.link {
  margin-bottom: 2em;
}

.inline-block {
  display: inline-block;
}

.delete-button {
  color: #ff0000;
  cursor: pointer;
}

div.reserved {
  text-decoration: line-through;
  background-color: rgba(0, 0, 0, 0.1);
}

.lighter {
  color: #837970
}

.no-wrap {
  white-space: nowrap;
}

.admin-reserve {
  display: none;
}

.splash-image {
  display: inline-block;
}

.splash-greeting {
  display: inline-block;
  vertical-align: top;
}

.home-greeting {
  padding: 3em 0;
}

.home-greeting svg {
  display: block;
  margin: auto;
}

.unbreakable {
  white-space: nowrap;
}

.clipboard-button {
  border: 2px dashed #433940;
  cursor: pointer;
}

input.wishlist-link {
  width: 20em;
  max-width: 50vw;
}

@media screen and (max-width: 1200px) {
.restaurant-widget {
  padding: 1vh 10vw;
}
.splash-image {
  display: none;
}
.home-greeting {
  display: none;
}
}
@media screen and (min-width: 1201px) {
.restaurant-widget {
  display: inline-block;
  width: 400px;
}
.focused.restaurant-widget {
  padding-left: 2em;
  padding-right: 2em;
}
}
@media screen and (max-height: 767px) {
.splash-image {
  display: none;
}
.home-greeting {
  display: none;
}
}